---
interface Props {
  logoSrc?: string;
  poster1?: string;
  poster2?: string;
  poster3?: string;
  poster4?: string;
  performer?: string;
  baseOfURL?: string;
  arrayNameOfS0ngs?: string[];
}

const {
  logoSrc,
  poster1,
  poster2,
  poster3,
  poster4,
  baseOfURL,
  performer,
  arrayNameOfS0ngs
} = Astro.props;
import { baseUrl } from '@/utils/functions';
const homePageSite = import.meta.env.SITE;
const logo = logoSrc ?? baseUrl('/assets/favicon.webp');
const sprite = baseUrl('/assets/svgSprite.svg');
const spriteCard = baseUrl('/assets/svgSpriteCardMusical.svg');
const nameOfSongsString = JSON.stringify(arrayNameOfS0ngs);
---

<header class='myHeader'>
  <img src={logo} alt='logo' />
</header>

<dialog class='am-modal'>
  <h3 class='tituto-modal' translate='no'>Save the audio in...</h3>
  <button class='cerrar'>❌</button>
  <nav class='nav-of-options-of-the-modal'>
    <button
      title='List Order'
      class='am-button-nav-modal order button-nav-selected'
    >
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'>
        <path
          fill='none'
          stroke='currentColor'
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='4'
          d='M8 18v9m3 0H5m6-15H5m0-7s3-3 5 0s-5 7-5 7m0 22.5s2-3 5-1s0 4.5 0 4.5s3 2.5 0 4.5s-5-1-5-1m5-3.5H8m0-20l-3 2m15 4h22M20 38h22M20 10h22'
        ></path>
      </svg>
    </button>
    <button title='List Unorder Reverse' class='am-button-nav-modal unorder'>
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'>
        <path
          fill='currentColor'
          d='M8 4h13v2H8zM4.5 6.5a1.5 1.5 0 1 1 0-3a1.5 1.5 0 0 1 0 3m0 7a1.5 1.5 0 1 1 0-3a1.5 1.5 0 0 1 0 3m0 6.9a1.5 1.5 0 1 1 0-3a1.5 1.5 0 0 1 0 3M8 11h13v2H8zm0 7h13v2H8z'
        ></path>
      </svg>
    </button>
    <button title='List Random' class='am-button-nav-modal random'>
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'>
        <path
          fill='none'
          stroke='currentColor'
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M20 21h-4v-4m0 4l5-5M6.5 9.504l-3.5-2L5 4M3 7.504l6.83-1.87M4 16l4-1l1 4m-1-4l-3.5 6M21 5l-.5 4l-4-.5m4 .5L16 3.5'
        ></path>
      </svg>
    </button>
    <button title='List a-to-z' class='am-button-nav-modal a-to-z'>
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'>
        <path
          fill='none'
          stroke='currentColor'
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='m3 16l4 4l4-4m-4 4V4m13 4h-5m0 2V6.5a2.5 2.5 0 0 1 5 0V10m-5 4h5l-5 6h5'
        ></path>
      </svg>
    </button>
    <button title='List z-to-a' class='am-button-nav-modal z-to-a'>
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'>
        <path
          fill='none'
          stroke='currentColor'
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='m3 8l4-4l4 4M7 4v16M20 8h-5m0 2V6.5a2.5 2.5 0 0 1 5 0V10m-5 4h5l-5 6h5'
        ></path>
      </svg>
    </button>
  </nav>
  <div class='container-modal'></div>

  <template class='template-modal-fila'>
    <article class='fila'>
      <input type='checkbox' id='' /><label for='' translate='no'></label>
      <abbr><output>0</output>/20</abbr>
    </article>
  </template>

  <footer class='container-add-playlist' translate='no'>
    <h3 translate='no'>Create new Playlist</h3>
    <div class='container-inputs'>
      <input
        type='text'
        id='agregarPlaylistInput'
        placeholder='Write the title...'
        maxlength='20'
        autocomplete='off'
        translate='no'
        spellcheck='false'
      />
      <span><output>0</output>/20</span>
      <input type='submit' value='+' />
    </div>
  </footer>
</dialog>

<nav class='myNav'>
  <a class='home' href={homePageSite}>
    <svg>
      <use href={`${sprite}#homebutton`}></use>
    </svg>
  </a>

  <button class='nav-random-button'>
    <svg>
      <use href={`${sprite}#randombutton`}></use>
    </svg>
  </button>

  <button class='nav-play-button'>
    <svg>
      <use href={`${sprite}#playbutton`}></use>
    </svg>
  </button>

  <button class='recarga am-the-button-recarga'>
    <svg>
      <use href={`${sprite}#reloadbutton`}></use>
    </svg>
  </button>

  <a href='javascript:void(0)' class='nav-arrow-down'>
    <svg>
      <use href={`${sprite}#arrowdownbutton`}></use>
    </svg>
  </a>

  <button class='nav-list-momentary'>
    <svg>
      <use href={`${sprite}#listbutton`}></use>
    </svg>

    <article class='btn-tooltip tooltip'>
      <div class='wrapper'>
        <span translate='no'>Choose and press here &nbsp; </span>
        <svg>
          <use href={`${spriteCard}#playbutton`}></use>
        </svg>
        <div class='circle circle-12'></div>
        <div class='circle circle-11'></div>
        <div class='circle circle-10'></div>
        <div class='circle circle-9'></div>
        <div class='circle circle-8'></div>
        <div class='circle circle-7'></div>
        <div class='circle circle-6'></div>
        <div class='circle circle-5'></div>
        <div class='circle circle-4'></div>
        <div class='circle circle-3'></div>
        <div class='circle circle-2'></div>
        <div class='circle circle-1'></div>
      </div>
      <div class='triangle'></div>
    </article>
  </button>
</nav>

<main
  class='am-the-main-performer'
  style={{
    '--image-1': poster1,
    '--image-2': poster2,
    '--image-3': poster3,
    '--image-4': poster4
  }}
  data-nameBand={performer}
  data-nameOfSongs={nameOfSongsString}
  data-baseOfURL={baseOfURL}
>
  {
    Array.from({ length: 20 }, (_, i) => (
      <article class='card' id={`song-${i + 1}`}>
        <div class='card-left'>
          <aside class='img'>
            <input type='range' step='0.1' value='0' class='input-range' />
          </aside>
        </div>

        <div class='card-right'>
          <section class='card-right-top' translate='no' />

          <div class='card-right-down'>
            <section class='card-right-buttons'>
              <button class='card-playbutton'>
                <svg>
                  <use href={`${spriteCard}#playbutton`} />
                </svg>
              </button>

              <button class='card-pausebutton'>
                <svg>
                  <use href={`${spriteCard}#pausebutton`} />
                </svg>
              </button>

              <button class='card-stopbutton'>
                <svg>
                  <use href={`${spriteCard}#stopbutton`} />
                </svg>
              </button>

              <button class='card-infinitybutton'>
                <svg>
                  <use href={`${spriteCard}#infinitybutton`} />
                </svg>
              </button>

              <button class='card-downloadbutton'>
                <a class='anchor-download' href='' download=''>
                  <svg>
                    <use href={`${spriteCard}#downloadbutton`} />
                  </svg>
                </a>
              </button>

              <button class='card-playlistbutton'>
                <svg>
                  <use href={`${spriteCard}#playlistbutton`} />
                </svg>
              </button>
            </section>
          </div>
        </div>
      </article>
    ))
  }
</main>

<section class='background-container'>
  <div class='star-1 star'></div>
</section>

<script>
  import { $, $$ } from '@/utils/functions';
  const $mainPerformer = $('.am-the-main-performer');
  const nameBand = $mainPerformer.getAttribute('data-nameBand');
  const nameSongs = JSON.parse($mainPerformer.getAttribute('data-nameOfSongs')!);
  const baseOfUrlAValue = $mainPerformer.getAttribute('data-baseOfURL');
  const MAXIMUM_LENGTH_OF_PLAYLIST = 20;
  const arraySongs = Array.from(
    { length: MAXIMUM_LENGTH_OF_PLAYLIST },
    (_, i) => `${baseOfUrlAValue}/n${i + 1}.mp3`
  );

  function updateRowsModalAndButtonActive() {
    setTimeout(() => {
      updateButtonNavActive(
        $('.am-button-nav-modal.order'),
        'button-nav-selected'
      );
      scrollToBottomContainerModal();
    }, 50);
  }

  /******************** MEDIA SESSION CONFIG ********************/
  const playlist = Array.from({ length: MAXIMUM_LENGTH_OF_PLAYLIST }, (_, i) => ({
    title: nameSongs[i]?.trim(),
    artist: nameBand,
    url: arraySongs[i]
  }));

  function toCapitalize(text = '') {
    return text
      .split(' ')
      .map(el => {
        if (el.length === 0) return '';
        if (el.length < 2)
          return `${el[0].toUpperCase()}${el.slice(1).toLowerCase()}`;
        let secondLetter =
          el[0] === '(' ? el[1].toUpperCase() : el[1].toLowerCase();
        return `${el[0].toUpperCase()}${secondLetter}${el.slice(2).toLowerCase()}`;
      })
      .join(' ')
      .replace(/\s+/g, ' ');
  }

  function updateMetadata(currentIndex = 0) {
    let currentUrl =
      window
        .getComputedStyle(
          document.querySelectorAll('.card')[currentIndex].querySelector('.img')
        )
        .getPropertyValue('background-image') ?? '1';
    let indexPosition = currentUrl.search(/\/n\d/);
    let imageNumber = currentUrl
      .slice(indexPosition + 2, indexPosition + 3)
      .trim();

    navigator.mediaSession.metadata = new MediaMetadata({
      title: `${toCapitalize(playlist[currentIndex].title)}`,
      artist: `${toCapitalize(playlist[currentIndex].artist)}`,
      artwork: [
        {
          src: `${baseOfUrlAValue}/n${imageNumber}.avif`,
          sizes: '128x128',
          type: 'image/avif'
        }
      ]
    });
  }

  updateMetadata();

  navigator.mediaSession.setActionHandler('play', () => {
    $audio.play();
    navigator.mediaSession.playbackState = 'playing';
  });

  navigator.mediaSession.setActionHandler('pause', () => {
    $audio.pause();
    navigator.mediaSession.playbackState = 'paused';
  });

  navigator.mediaSession.setActionHandler('seekbackward', details => {
    $audio.currentTime = Math.max($audio.currentTime - 10, 0);
  });

  navigator.mediaSession.setActionHandler('seekto', details => {
    if (details.fastSeek && 'fastSeek' in $audio) {
      $audio.fastSeek(details.seekTime);
    } else {
      $audio.currentTime = details.seekTime;
    }
  });

  navigator.mediaSession.setActionHandler('seekforward', details => {
    $audio.currentTime = Math.min($audio.currentTime + 10, $audio.duration);
  });

  function previousTrack(currentIndex) {
    navigator.mediaSession.setActionHandler('previoustrack', () => {
      currentIndex = (currentIndex - 1 + playlist.length) % playlist.length;
      updateMetadata(currentIndex); // Actualizar la metadata
      blockPlayPauseStopBUTTON();
      _removeClassBlockedButtonNextSiblings(currentIndex);
      $audio.pause();
      $audio.currentTime = 0;
      $audio.src = arraySongs[currentIndex];
      $audio.loop = false;
      actualButtonPlayActive(currentIndex);
      nextTrack(currentIndex);
      showTitle(currentIndex);
    });
  }

  function nextTrack(currentIndex) {
    navigator.mediaSession.setActionHandler('nexttrack', () => {
      currentIndex = (currentIndex + 1) % playlist.length;
      updateMetadata(currentIndex); // Actualizar la metadata
      blockPlayPauseStopBUTTON();
      _removeClassBlockedButtonNextSiblings(currentIndex);
      $audio.pause();
      $audio.currentTime = 0;
      $audio.src = arraySongs[currentIndex];
      $audio.loop = false;
      actualButtonPlayActive(currentIndex);
      previousTrack(currentIndex);
    });
  }

  /******************** GLOBAL  ********************/
  const d = document;
  let regExP = /^(?![\s0-9\-_])[\w\s\-]{1,20}(?<![\-])$/;
  let listNumbersSongs = [];

  const $audio = d.createElement('audio');

  const navRandomButton = '.nav-random-button';
  const navMomentaryListButton = '.nav-list-momentary';
  const navPlayButton = '.nav-play-button';
  const navArrowDownButton = '.nav-arrow-down';

  const cardPlayButtonClass = '.card-playbutton';
  const cardPauseButtonClass = '.card-pausebutton';
  const cardStopButtonClass = '.card-stopbutton';
  const cardLoopButtonClass = '.card-infinitybutton';
  const cardPlayListButton = '.card-playlistbutton';

  const headerColors = {
    0: ['#ee82ee', '#87ceeb', '#00ff7f', '#ffd700'],
    1: ['#ffd700', '#20b2aa', '#87cefa', '#ff1b6b'],
    2: ['#ff1b6b', '#ff00ff', '#32cd32', '#f5ccd9'],
    3: ['#e81cff', '#f5ccd9', '#7fffd4', '#05c9fa'],
    4: ['#05c9fa', '#adff2f', '#dda0dd', '#f0e68c'],
    5: ['#f0e68c', '#ff5858', '#00bfff', '#00ff7f'],
    6: ['#50c878', '#e4f61e', '#ff1493', '#ff5858'],
    7: ['#e4f61e', '#87ceeb', '#00ff7f', '#ffeda0'],
    8: ['#ffeda0', '#4169e1', '#98ff98', '#f4762d'],
    9: ['#ff00ff', '#fff44f', '#50c878', '#0061ff'],
    10: ['#00ff87', '#0061ff', '#60efff', '#ff1b6b'],
    11: ['#84ffc9', '#4169e1', '#eca0ff', '#00ff7f'],
    12: ['#e9d022', '#f86594', '#fffbaf', '#f4762d'],
    13: ['#f4762d', '#ede342', '#5b6cf9', '#60efff'],
    14: ['#3d05dd', '#e0a9bb', '#f40752', '#84ffc9'],
    15: ['#b429f9', '#e0a9bb', '#26c5f3', '#4169e1']
  };

  /******************** FUNCTIONS ********************/

  const generateStars = (totalStars, selector, size, duration) => {
    const shadowLayers = [];

    for (let i = 0; i < totalStars; i++) {
      const x = Math.floor(Math.random() * 100);
      const y = Math.floor(Math.random() * 100);
      shadowLayers.push(`
      ${x}vw ${y}vh 0 #fff,
      ${x}vw ${y + 100}vh 0 #fff
    `);
    }

    const star = document.querySelector(selector);
    star.style.setProperty('--shadow-layer', shadowLayers.join(','));
    star.style.setProperty('--size', size);
    star.style.setProperty('--duration', duration);
  };

  const blockPlayPauseStopBUTTON = () => {
    [...$$('.card-pausebutton')].forEach(el => el.classList.add('blocked'));
    [...$$('.card-stopbutton')].forEach(el => el.classList.add('blocked'));
    [...$$('.card-infinitybutton')].forEach(el => el.classList.add('blocked'));
  };

  const removeClassBlockedButtonNextSiblings = el => {
    [...el.closest('.card-right-buttons').querySelectorAll('button')].forEach(
      btn => btn.classList.remove('blocked')
    );
  };

  const _removeClassBlockedButtonNextSiblings = index => {
    [
      ...$$('.card')
        [index].querySelector('.card-right-buttons')
        .querySelectorAll('button')
    ].forEach(btn => btn.classList.remove('blocked'));
  };

  const actualButtonPlayActive = (index = 0) => {
    let element = $$('.card')[index].querySelector(cardPlayButtonClass);

    [...$$('.card-btn-active')].forEach(el => {
      el.classList.remove('card-btn-active');
    });
    element.classList.add('card-btn-active');

    [...$$('.input-range')].forEach(el => {
      el.style.display = 'none';
    });
    const $inputRange = element.closest('.card').querySelector('.img input');
    $inputRange.style.display = 'block';

    setTimeout(() => {
      $audio.play();
    }, 30);

    $audio.ontimeupdate = function () {
      $inputRange.max = Math.floor(this.duration);
      $inputRange.value = this.currentTime;
    };

    d.addEventListener('input', e => {
      if (e.target === $inputRange) {
        $audio.currentTime = e.target.value;
        $audio.play();
      }
    });
  };

  const toKebabCase = (sentence = '') => {
    let words = sentence.trim().split(' ');
    return words.length === 1
      ? words.join('').toLowerCase()
      : words.join('-').toLowerCase();
  };

  const putTitle = (nameBand, title) => (d.title = `${nameBand} - ${title}`);

  const showTitle = elIndex => {
    putTitle(nameBand, nameSongs[elIndex]);
  };

  const playAllSongs = (songs, selector) => {
    if (listNumbersSongs?.length > 0) {
      let arrayCards = listNumbersSongs.map(i => $$('.card')[i]);
      let arrayColors = listNumbersSongs.map(
        i => $$('.card')[i].dataset.colorCard
      );
      arrayCards.forEach((card, i) => (card.style.color = arrayColors[i]));
      listNumbersSongs = [];
    }

    let index = 0;
    const $btnsPlay = $$(selector);

    const nextSong = () => {
      blockPlayPauseStopBUTTON();

      if (index < songs.length) {
        if ($audio.src) {
          $audio.pause();
          $audio.currentTime = 0;
        }
        $audio.src = songs[index];
        $audio.loop = false;
        removeClassBlockedButtonNextSiblings($btnsPlay[index]);
        showTitle(index);

        actualButtonPlayActive(index);
        updateMetadata(index);

        function actualAudio(currentIndex) {
          updateMetadata(currentIndex);
          blockPlayPauseStopBUTTON();
          _removeClassBlockedButtonNextSiblings(currentIndex);
          $audio.pause();
          $audio.currentTime = 0;
          $audio.src = arraySongs[currentIndex];
          $audio.loop = false;
          actualButtonPlayActive(currentIndex);
          showTitle(currentIndex);
        }

        function previousTrack(currentIndex) {
          navigator.mediaSession.setActionHandler('previoustrack', () => {
            index--;
            currentIndex = (currentIndex - 1 + playlist.length) % playlist.length;
            if (index === -1) index = currentIndex + 1;
            nextTrack(currentIndex);
            actualAudio(currentIndex);
          });
        }

        function nextTrack(currentIndex) {
          navigator.mediaSession.setActionHandler('nexttrack', () => {
            index++;
            currentIndex = (currentIndex + 1) % playlist.length;
            previousTrack(currentIndex);
            actualAudio(currentIndex);
          });
        }

        previousTrack(index);
        nextTrack(index);

        showTitle(index);
        index++;
        $audio.onended = nextSong;
      } else {
        location.reload();
      }
    };

    nextSong();
  };

  const playRandomSongs = (songs, selector) => {
    if (listNumbersSongs?.length > 0) {
      let arrayCards = listNumbersSongs.map(i => $$('.card')[i]);
      let arrayColors = listNumbersSongs.map(
        i => $$('.card')[i].dataset.colorCard
      );
      arrayCards.forEach((card, i) => (card.style.color = arrayColors[i]));
      listNumbersSongs = [];
    }

    let unArray = [],
      i,
      valor;

    for (i = 0; i < songs.length; i++) {
      do {
        valor = Math.floor(Math.random() * songs.length);
      } while (unArray.includes(valor));

      unArray.push(valor);
    }

    let index = 0;
    const $btnsPlay = $$(selector);
    const nextSong = () => {
      blockPlayPauseStopBUTTON();

      if (index < songs.length) {
        if ($audio.src) {
          $audio.pause();
          $audio.currentTime = 0;
        }
        $audio.src = songs[unArray[index]];
        removeClassBlockedButtonNextSiblings($btnsPlay[unArray[index]]);
        showTitle(unArray[index]);

        actualButtonPlayActive(unArray[index]);
        updateMetadata(unArray[index]);

        function actualAudio(currentIndex) {
          $audio.pause();
          blockPlayPauseStopBUTTON();
          _removeClassBlockedButtonNextSiblings(unArray[currentIndex]);
          $audio.currentTime = 0;
          $audio.src = arraySongs[unArray[currentIndex]];
          $audio.loop = false;
          updateMetadata(unArray[currentIndex]);
          actualButtonPlayActive(unArray[currentIndex]);
          showTitle(unArray[currentIndex]);
        }

        function previousTrackOfRandomSongs(currentIndex) {
          navigator.mediaSession.setActionHandler('previoustrack', () => {
            index--;
            currentIndex = (currentIndex - 1 + playlist.length) % playlist.length;
            if (index === -1) index = currentIndex + 1;
            nextTrackOfRandomSongs(currentIndex);
            actualAudio(currentIndex);
          });
        }

        function nextTrackOfRandomSongs(currentIndex) {
          navigator.mediaSession.setActionHandler('nexttrack', () => {
            index++;
            currentIndex = (currentIndex + 1) % playlist.length;
            previousTrackOfRandomSongs(currentIndex);
            actualAudio(currentIndex);
          });
        }

        previousTrackOfRandomSongs(index);
        nextTrackOfRandomSongs(index);
        index++;
        $audio.onended = nextSong;
      } else {
        location.reload();
      }
    };

    nextSong();
  };

  const removeClassNavButtonActive = () => {
    [...$$('.nav-btn-active')].forEach(el =>
      el.classList.remove('nav-btn-active')
    );
  };

  const playSelectedSongs = (songs, selector, listNumber) => {
    let index = 0;
    const $btnsPlay = $$(selector);

    const nextSong = () => {
      blockPlayPauseStopBUTTON();

      if (index < songs.length) {
        if ($audio.src) {
          $audio.pause();
          $audio.currentTime = 0;
        }
        $audio.src = songs[index];
        removeClassBlockedButtonNextSiblings($btnsPlay[listNumber[index]]);
        showTitle(listNumber[index]);

        actualButtonPlayActive(listNumber[index]);
        updateMetadata(listNumber[index]);

        function actualAudio(currentIndex) {
          $audio.pause();
          blockPlayPauseStopBUTTON();
          _removeClassBlockedButtonNextSiblings(listNumber[currentIndex]);
          $audio.currentTime = 0;
          $audio.src = arraySongs[listNumber[currentIndex]];
          $audio.loop = false;
          updateMetadata(listNumber[currentIndex]);
          actualButtonPlayActive(listNumber[currentIndex]);
          showTitle(listNumber[currentIndex]);
        }

        function previousTrackOfSelectedSongs(currentIndex) {
          navigator.mediaSession.setActionHandler('previoustrack', () => {
            index--;
            currentIndex =
              (currentIndex - 1 + listNumber.length) % listNumber.length;

            if (index === -1) index = currentIndex + 1;
            nextTrackOfSelectedSongs(currentIndex);
            actualAudio(currentIndex);
          });
        }

        function nextTrackOfSelectedSongs(currentIndex) {
          navigator.mediaSession.setActionHandler('nexttrack', () => {
            index++;
            currentIndex = (currentIndex + 1) % listNumber.length;
            previousTrackOfSelectedSongs(currentIndex);
            actualAudio(currentIndex);
          });
        }

        previousTrackOfSelectedSongs(index);
        nextTrackOfSelectedSongs(index);

        index++;
        $audio.onended = nextSong;
      } else {
        window.history.replaceState(null, null, window.location.pathname);
        location.reload();
      }
    };

    nextSong();
  };

  /******************** EXECUTING FUNCTIONS ********************/
  generateStars(200, '.star-1', '2px', '20s');

  (function headerCustomProperties() {
    const { body } = document;
    let numberRandom = Math.floor(
      Math.random() * Object.keys(headerColors).length
    );
    const [color1, color2, color3, color4] = headerColors[numberRandom];
    body.style.setProperty('--color1', color1);
    body.style.setProperty('--color2', color2);
    body.style.setProperty('--color3', color3);
    body.style.setProperty('--color4', color4);
  })();

  (function addTitlesToCards() {
    $$('.card-right-top').forEach(
      (title, index) => (title.textContent = nameSongs[index])
    );
  })();

  (function addHrefAndDownloads() {
    [...$$('.anchor-download')].forEach((el, i) => {
      el.href = `songs/n${i + 1}.mp3`;
      let nameBandFirstChar = nameBand[0].toUpperCase();
      let nameBandComplete = nameBand.substring(1).toLowerCase();
      el.download = `${nameBandFirstChar}${nameBandComplete} - ${toCapitalize(
        nameSongs[i]
      )}`;
    });
  })();

  (function getHref() {
    localStorage.setItem('playbackUrl', location.href);
  })();

  /******************** EVENT DELEGATION ********************/
  d.addEventListener('click', e => {
    /******************** EVENT DELEGATION CARDS ********************/
    if (e.target.matches(cardPlayButtonClass)) {
      if (listNumbersSongs?.length > 0) {
        let arrayCards = listNumbersSongs.map(i => $$('.card')[i]);
        let arrayColors = listNumbersSongs.map(
          i => $$('.card')[i].dataset.colorCard
        );
        arrayCards.forEach((card, i) => (card.style.color = arrayColors[i]));
        listNumbersSongs = [];
      }
      const arrayPlayButtons = [...$$(cardPlayButtonClass)];

      blockPlayPauseStopBUTTON();
      let index = arrayPlayButtons.indexOf(e.target);
      _removeClassBlockedButtonNextSiblings(index);

      let audioActual = d.createElement('audio');
      audioActual.src = arraySongs[index];

      if (!$audio.src) {
        $audio.src = arraySongs[index];
      }

      if ($audio.src !== audioActual.src) {
        $audio.pause();
        $audio.currentTime = 0;
        $audio.src = arraySongs[index];
        $audio.loop = false;
      }

      actualButtonPlayActive(index);
      updateMetadata(index);
      previousTrack(index);
      nextTrack(index);
      showTitle(index);

      if ($audio.loop) {
        e.target.nextElementSibling.nextElementSibling.nextElementSibling.classList.toggle(
          'card-btn-active'
        );
        return;
      }

      $audio.onended = () => {
        index = index = (index + 1) % playlist.length;
        const btnPlayNew = arrayPlayButtons[index];
        if (index === 0) return;
        btnPlayNew.click();
      };

      return;
    }

    if (e.target.matches(cardPauseButtonClass)) {
      $audio.pause();
      e.target.previousElementSibling.classList.remove('card-btn-active');
      e.target.classList.add('card-btn-active');
      return;
    }

    if (e.target.matches(cardStopButtonClass)) {
      $audio.pause();
      $audio.currentTime = 0;
      blockPlayPauseStopBUTTON();
      e.target.previousElementSibling.previousElementSibling.classList.remove(
        'card-btn-active'
      );
      return;
    }

    if (e.target.matches(cardLoopButtonClass)) {
      if ($audio.loop) {
        $audio.loop = false;
        e.target.classList.remove('card-btn-active');
        return;
      }
      $audio.loop = true;
      e.target.classList.add('card-btn-active');
    }

    if (e.target.matches(cardPlayListButton)) {
      localStorage.setItem('playbackUrl', location.href);
      let index = [...$$('.card')].indexOf(e.target.closest('.card'));
      let lastLetterUrl = localStorage.getItem('playbackUrl').at(-1);
      let urlPuro =
        lastLetterUrl === '/'
          ? localStorage.getItem('playbackUrl')
          : `${localStorage.getItem('playbackUrl')}/`;

      let url = `${urlPuro}songs/n${index + 1}.mp3`;
      let currentNameSong = [...$$('.card')][index].querySelector(
        '.card-right-top'
      ).innerHTML;

      localStorage.setItem('lastCurrentNameSong', currentNameSong);
      localStorage.setItem('lastCurrentURLSong', url);
      RenderPlaylistItems();
      $('.am-modal').showModal();

      let $tituloModal = $('.tituto-modal');
      $tituloModal.innerHTML = `Save ${currentNameSong} in..`;
      return;
    }

    if (e.target.matches('.cerrar')) {
      e.target.parentElement.close();
      setTimeout(() => {
        $('.am-modal')
          .querySelector('.container-add-playlist')
          .classList.remove('mode-active');
      }, 500);
      $('#agregarPlaylistInput').value = '';
      updateButtonNavActive(
        $('.am-button-nav-modal.order'),
        'button-nav-selected'
      );
      return;
    }

    if (e.target.matches('.container-add-playlist')) {
      e.target.classList.add('mode-active');
      d.getElementById('agregarPlaylistInput').focus();
      return;
    }
    if (e.target.matches('.am-the-button-recarga')) {
      const url = localStorage.getItem('playbackUrl');
      if (url) {
        location.replace(url);
      }
      return;
    }

    if (e.target.matches('.container-inputs input[type=submit]')) {
      let input = e.target.previousElementSibling.previousElementSibling;
      let inputValor =
        e.target.previousElementSibling.previousElementSibling.value.trim();

      if (comprobeExistThisProperty(inputValor)) {
        input.classList.remove('valid');
        input.classList.add('invalid');
        return;
      }

      if (!regExP.test(inputValor) || comprobeExistThisProperty(input)) {
        return;
      }

      if (!localStorage.getItem('listname-cards')) {
        localStorage.setItem(
          'listname-cards',
          JSON.stringify({
            [`${inputValor}`]: ''
          })
        );
        RenderPlaylistItems();
        updateRowsModalAndButtonActive();
        input.value = '';
        return;
      }

      let objectListNameCards = JSON.parse(
        localStorage.getItem('listname-cards')
      );
      let newObjectListNameCards = JSON.stringify({
        ...objectListNameCards,
        [`${inputValor}`]: ''
      });

      localStorage.setItem('listname-cards', newObjectListNameCards);
      RenderPlaylistItems();
      updateRowsModalAndButtonActive();
      input.value = '';
    }
    /******************** EVENT DELEGATION NAV ********************/
    if (e.target.matches(navPlayButton)) {
      removeClassNavButtonActive();
      e.target.classList.add('nav-btn-active');
      playAllSongs(arraySongs, cardPlayButtonClass);
      return;
    }
    if (e.target.matches(navRandomButton)) {
      removeClassNavButtonActive();
      e.target.classList.add('nav-btn-active');
      playRandomSongs(arraySongs, cardPlayButtonClass);
      return;
    }
    if (e.target.matches(navMomentaryListButton)) {
      listNumbersSongs = [];
      $('.tooltip').classList.toggle('tooltip-active');
      e.target.classList.add('nav-btn-active');

      if (e.target.classList.contains('nav-btn-active')) {
        let allCards = [...$$('.card')];

        removeClassNavButtonActive();
        e.target.classList.add('nav-btn-active');
        pickCards(allCards, listNumbersSongs);
        return;
      }

      return;
    }
    if (e.target.matches(navArrowDownButton)) {
      if ($audio.src) {
        e.target.classList.add('nav-btn-active');
        let arrayButtons = [...$$('.card-playbutton')];
        let $btnPlayActive = $('.card-playbutton.card-btn-active');
        if (!$btnPlayActive?.closest('.card')) {
          return;
        }
        let indexActual = arrayButtons.indexOf($btnPlayActive) + 1;
        e.target.href = `#song-${indexActual}`;

        $btnPlayActive.closest('.card').classList.add('targeado');
        setTimeout(() => {
          $btnPlayActive.closest('.card').classList.remove('targeado');
          e.target.classList.remove('nav-btn-active');
          history.replaceState(null, '', location.pathname);
        }, 3000);
      }
      return;
    }
  });

  d.addEventListener('visibilitychange', function () {
    if (!d.hidden) {
      localStorage.setItem('playbackUrl', location.href);
    } else {
      history.replaceState(null, '', location.pathname + location.search);
    }
  });

  d.addEventListener('change', e => {
    if (e.target.matches(`input[type=checkbox]`)) {
      let currentNameSong = localStorage.getItem('lastCurrentNameSong');
      let url = localStorage.getItem('lastCurrentURLSong');
      let currentId = e.target.id;
      let objectListNameCards = JSON.parse(
        localStorage.getItem('listname-cards')
      );
      if (!objectListNameCards) return;
      let clase = e.target.getAttribute('data-clase');
      let $output = $(`.${clase}`);

      if (e.target.checked) {
        let newObject = {
          ...objectListNameCards,
          [`${currentId}`]: [
            ...objectListNameCards[currentId],
            [`${nameBand} - ${currentNameSong}`, url]
          ]
        };

        localStorage.setItem('listname-cards', JSON.stringify(newObject));

        $output.innerHTML = Number($output.innerHTML) + 1;
        return;
      }

      let indiceReal = null;
      for (let i = 0; i < objectListNameCards[currentId].length; i++) {
        if (
          objectListNameCards[currentId][i][0] ===
          `${nameBand} - ${currentNameSong}`
        ) {
          indiceReal = i;
          break;
        }
      }

      let newArrray = objectListNameCards[`${currentId}`].toSpliced(
        indiceReal,
        1
      );

      let newObject = {
        ...objectListNameCards,
        [`${currentId}`]: [...newArrray]
      };

      localStorage.setItem('listname-cards', JSON.stringify(newObject));
      $output.innerHTML = Number($output.innerHTML) - 1;
      return;
    }
  });

  d.addEventListener('input', e => {
    if (e.target.matches('#agregarPlaylistInput')) {
      let $output = $('.container-inputs output');
      $output.innerHTML = e.target.value.length;

      if (e.target.value.length === 0) {
        e.target.classList.remove('valid');
        e.target.classList.remove('invalid');
        return;
      }

      if (
        regExP.test(e.target.value) &&
        !comprobeExistThisProperty(e.target.value)
      ) {
        e.target.classList.remove('invalid');
        e.target.classList.add('valid');
      } else {
        e.target.classList.remove('valid');
        e.target.classList.add('invalid');
      }
    }
  });

  d.addEventListener('keydown', e => {
    if (e.target.matches('#agregarPlaylistInput')) {
      if (e.key !== 'Enter') return;
      let input = e.target;
      let inputValor = e.target.value.trim();

      if (comprobeExistThisProperty(inputValor)) {
        input.classList.remove('valid');
        input.classList.add('invalid');
        return;
      }

      if (!regExP.test(inputValor) || comprobeExistThisProperty(input)) {
        return;
      }

      if (!localStorage.getItem('listname-cards')) {
        localStorage.setItem(
          'listname-cards',
          JSON.stringify({
            [`${inputValor}`]: ''
          })
        );
        RenderPlaylistItems();
        updateRowsModalAndButtonActive();
        input.value = '';
        return;
      }

      let objectListNameCards = JSON.parse(
        localStorage.getItem('listname-cards')
      );
      let newObjectListNameCards = JSON.stringify({
        ...objectListNameCards,
        [`${inputValor}`]: ''
      });

      localStorage.setItem('listname-cards', newObjectListNameCards);
      RenderPlaylistItems();
      updateRowsModalAndButtonActive();
      input.value = '';
    }
  });

  /******************** MODAL FUNCTIONS ********************/

  function existThisSongInSomePlaylist(currentName) {
    let nameCurrent = currentName ?? '';
    if (localStorage.getItem('listname-cards')) {
      let objetoNamePlaylists = JSON.parse(
        localStorage.getItem('listname-cards')
      );
      let playlistsWhereExistsCurrenName = [];
      let namesPlaylists = [];

      for (let property in objetoNamePlaylists) {
        namesPlaylists = [...namesPlaylists, property];
      }

      for (let i = 0; i < namesPlaylists.length; i++) {
        let currentPlaylist = namesPlaylists[i];
        let multiArrayCurrent = objetoNamePlaylists[currentPlaylist];

        for (let j = 0; j < multiArrayCurrent.length; j++) {
          if (multiArrayCurrent[j].includes(`${nameBand} - ${nameCurrent}`)) {
            playlistsWhereExistsCurrenName.push(currentPlaylist);
            break;
          }
        }
      }

      return playlistsWhereExistsCurrenName;
    }
  }

  function RenderPlaylistItems() {
    if (localStorage.getItem('listname-cards')) {
      let currentName = localStorage.getItem('lastCurrentNameSong');
      let objectNames = JSON.parse(localStorage.getItem('listname-cards'));
      let $template = $('.template-modal-fila').content;
      let $tituloModal = $('.tituto-modal');
      $tituloModal.innerHTML = `Save ${currentName} in..`;
      let myFragment = d.createDocumentFragment();
      let $containerModal = $('.container-modal');
      $containerModal.innerHTML = '';
      let arrayCorriente = existThisSongInSomePlaylist(currentName);
      let guardarKey = null;

      for (let key in objectNames) {
        let clon = $template.cloneNode(true);
        clon.querySelector('input').id = key;
        clon.querySelector('input').dataset.clase = toKebabCase(key);
        clon.querySelector('label').setAttribute('for', key);
        clon.querySelector('label').innerHTML = key;
        clon.querySelector('output').setAttribute('class', toKebabCase(key));
        clon.querySelector('output').innerHTML = objectNames[key].length;
        if (objectNames[key].length === MAXIMUM_LENGTH_OF_PLAYLIST) {
          clon.querySelector('input[type=checkbox]').disabled = 'true';
          guardarKey = key;
        }
        myFragment.appendChild(clon);
      }

      $containerModal.appendChild(myFragment);

      for (let i = 0; i < arrayCorriente.length; i++) {
        let checkboxCurrent = toKebabCase(arrayCorriente[i]);
        let checkboxActual = $containerModal.querySelector(
          `[data-clase='${checkboxCurrent}']`
        );
        checkboxActual.checked = true;
        checkboxActual.disabled = false;
      }
    }
  }

  d.addEventListener('DOMContentLoaded', () => {
    blockPlayPauseStopBUTTON();
    putTitle(nameBand, '20 ESSENTIALS');
  });

  function findDuplicates(array, element) {
    let filterArray = array.filter(el => el === element);
    return filterArray.length;
  }

  (function addDataAttributeColor() {
    [...$$('.card')].forEach(el => {
      el.dataset.colorCard = getComputedStyle(el).getPropertyValue('color');
    });
  })();

  function pickCards(allCards, listNumbersSongs) {
    d.addEventListener('click', e => {
      if (e.target.matches('.card *')) {
        let actualCard = e.target.closest('.card');
        let index = allCards.indexOf(actualCard);

        if ($('.tooltip').classList.contains('tooltip-active')) {
          listNumbersSongs.push(index);

          if (findDuplicates(listNumbersSongs, index) > 1) {
            actualCard.style.color = actualCard.dataset.colorCard;
            let newArray = listNumbersSongs.filter(el => el !== index);
            listNumbersSongs = newArray;
            return;
          }

          actualCard.style.color = '#fff';
        }
      }

      if (e.target.matches('.tooltip')) {
        e.target.classList.remove('tooltip-active');
        $('.nav-list-momentary').classList.remove('nav-btn-active');
        let canciones = listNumbersSongs.map(el => arraySongs[el]);
        playSelectedSongs(canciones, cardPlayButtonClass, listNumbersSongs);

        [...$$('.card')].forEach(el => (el.style.color = el.dataset.colorCard));
        listNumbersSongs.forEach(el => {
          [...$$('.card')][el].style.color = '#fff';
        });
      }
    });
  }

  function comprobeExistThisProperty(nameProperty) {
    if (localStorage.getItem('listname-cards')) {
      let object = JSON.parse(localStorage.getItem('listname-cards'));
      return object.hasOwnProperty(nameProperty) ? true : false;
    }
  }

  window.addEventListener('storage', e => {
    if (localStorage.getItem('listname-cards')) {
      if (e.key === 'listname-cards') {
        localStorage.setItem('listname-cards', e.newValue);
        RenderPlaylistItems();
      }
    }
  });

  /******************** REMOVE ANIMATION VIEW() OF CARDS ********************/

  const cards = document.querySelectorAll('.card');

  const observer = new IntersectionObserver(
    (entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('stopped-animation');
          observer.unobserve(entry.target);
        }
      });
    },
    { threshold: 0.5 }
  );

  cards.forEach(card => observer.observe(card));

  /******************** BUTTON NAV MODAL ********************/

  let containerModal = document.querySelector('.container-modal');

  function RenderPlaylistItemsOfTheContainerBottom(objectOfCards) {
    const currentName = localStorage.getItem('lastCurrentNameSong');

    if (!currentName) return;

    const objectNames =
      objectOfCards ?? JSON.parse(localStorage.getItem('listname-cards'));
    const template = $('.template-modal-fila').content;
    const tituloModal = $('.tituto-modal');
    const containerModal = $('.container-modal');

    tituloModal.textContent = `Save ${currentName} in..`;
    containerModal.innerHTML = '';

    const fragment = d.createDocumentFragment();
    const currentPlaylists = existThisSongInSomePlaylist(currentName);

    for (const name in objectNames) {
      const kebabName = toKebabCase(name);
      const playlist = objectNames[name];
      const clone = template.cloneNode(true);

      const input = clone.querySelector('input');
      const label = clone.querySelector('label');
      const output = clone.querySelector('output');

      input.id = name;
      input.dataset.clase = kebabName;
      input.disabled = playlist.length === MAXIMUM_LENGTH_OF_PLAYLIST;

      label.htmlFor = name;
      label.textContent = name;

      output.className = kebabName;
      output.textContent = playlist.length;

      fragment.appendChild(clone);
    }

    containerModal.appendChild(fragment);

    currentPlaylists.forEach(name => {
      const checkbox = containerModal.querySelector(
        `[data-clase="${toKebabCase(name)}"]`
      );
      if (checkbox) {
        checkbox.checked = true;
        checkbox.disabled = false;
      }
    });
  }

  function updateButtonNavActive(target, classNameToAdd) {
    if (!target.classList.contains(classNameToAdd)) {
      $(`.${classNameToAdd}`).classList.remove(classNameToAdd);
      let timer = setTimeout(() => {
        target.classList.add(classNameToAdd);
        clearTimeout(timer);
      }, 20);
    }
  }

  function scrollToTopContainerModal() {
    $('.container-modal').scrollTop = 0;
  }

  function scrollToBottomContainerModal() {
    $('.container-modal').scrollTop = $('.container-modal').scrollHeight;
  }

  document.addEventListener('click', e => {
    const target = e.target;
    if (target.matches('.am-button-nav-modal')) {
      if (target.matches('.order')) {
        containerModal.innerHTML = '';

        updateButtonNavActive(target, 'button-nav-selected');
        scrollToTopContainerModal();
        RenderPlaylistItemsOfTheContainerBottom();
        return;
      }

      if (target.matches('.unorder')) {
        containerModal.innerHTML = '';
        updateButtonNavActive(target, 'button-nav-selected');
        scrollToTopContainerModal();

        const objectNames = JSON.parse(localStorage.getItem('listname-cards'));
        if (!objectNames) return;
        const reversedObj = Object.entries(objectNames)
          .reverse()
          .reduce((acc, [key, value]) => {
            acc[key] = value;
            return acc;
          }, {});

        RenderPlaylistItemsOfTheContainerBottom(reversedObj);
        return;
      }

      if (target.matches('.random')) {
        containerModal.innerHTML = '';
        updateButtonNavActive(target, 'button-nav-selected');
        scrollToTopContainerModal();

        const objectNames = JSON.parse(localStorage.getItem('listname-cards'));
        if (!objectNames) return;
        const shuffledEntries = Object.entries(objectNames).sort(
          () => Math.random() - 0.5
        );

        const shuffledObj = Object.fromEntries(shuffledEntries);
        RenderPlaylistItemsOfTheContainerBottom(shuffledObj);
        return;
      }

      if (target.matches('.a-to-z')) {
        containerModal.innerHTML = '';
        updateButtonNavActive(target, 'button-nav-selected');
        scrollToTopContainerModal();

        const objectNames = JSON.parse(localStorage.getItem('listname-cards'));
        if (!objectNames) return;
        const sortedEntries = Object.entries(objectNames).sort((a, b) =>
          a[0].localeCompare(b[0])
        );

        const sortedObj = Object.fromEntries(sortedEntries);
        RenderPlaylistItemsOfTheContainerBottom(sortedObj);
        return;
      }

      if (target.matches('.z-to-a')) {
        containerModal.innerHTML = '';
        updateButtonNavActive(target, 'button-nav-selected');
        scrollToTopContainerModal();

        const objectNames = JSON.parse(localStorage.getItem('listname-cards'));
        if (!objectNames) return;
        const sortedEntries = Object.entries(objectNames).sort((a, b) =>
          b[0].localeCompare(a[0])
        );

        const sortedObj = Object.fromEntries(sortedEntries);
        RenderPlaylistItemsOfTheContainerBottom(sortedObj);
        return;
      }
    }
  });
</script>

<style is:global>
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif, Geneva, Tahoma;
    font-weight: 600;
    user-select: none;
    cursor: auto;
  }

  /******************** ELEMENTS ********************/
  html {
    min-width: 350px;
    max-width: 1600px;
    display: block;
    margin-inline: auto;
    background-color: black;
    align-content: center;
    height: 100vh;
    font-size: 16px;
    
  }

  body {
    --sb-track-color: transparent;
    --sb-thumb-color: linear-gradient(
      to bottom,
      var(--color1),
      var(--color2),
      var(--color3)
    );
    --sb-size: 10px;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
  }

  body::-webkit-scrollbar {
    width: var(--sb-size);
  }

  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
  }

  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
  }

  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }

  html,
  body {
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  .am-modal {
    margin: auto;
    border: none;
    width: 100%;
    max-width: 275px;
    height: max-content;
    padding: 1rem;
    padding-top: 2rem;
    background-color: #111;
    box-shadow: 0 0 1px #0008;
    border-radius: 20px;
    color: gray;
    overflow: hidden;
    scale: 0;
    transition:
      scale 0.25s ease,
      display 0.25s allow-discrete,
      overlay 0.25s allow-discrete;

    &[open] {
      scale: 1;
      transition: scale 0.25s;

      @starting-style {
        scale: 0;
      }
    }

    .tituto-modal {
      text-wrap: balance;
      width: 80%;
      margin-bottom: 0.7rem;
    }

    h3 {
      font-size: 0.85rem;
    }

    .cerrar {
      position: absolute;
      top: 0.8rem;
      right: 0.8rem;
      padding: 0.4rem;
      border: none;
      transform: scale(0.9);
      border-radius: 50%;
      background-color: #000;
      box-shadow: 0 0 9px 0 #fff inset;
      overflow: hidden;
      font-size: 0.8rem;
      transition: box-shadow 0.5s ease;

      &:hover {
        background-color: #000;
        box-shadow: 0 0 28px 0 #fff2 inset;
      }
    }

    .nav-of-options-of-the-modal {
      width: 100%;
      height: 24px;
      display: flex;
      padding: 3px;
      gap: 6px;
      padding-block: 2px;

      .am-button-nav-modal {
        width: 20%;
        height: 100%;
        margin: 0;
        border-radius: 4px;
        border: 0;
        display: flex;
        flex-wrap: wrap;
        place-content: center;
        background-color: #e9e9e9;

        &.button-nav-selected {
          background-color: #333;

          svg {
            color: #fff;
          }
        }

        svg {
          width: 100%;
          height: 90%;
          pointer-events: none;
          transform: scale(0.9);
        }
      }
    }

    .container-modal {
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;
      min-height: 90px;
      height: 100%;
      max-height: 300px;
      padding-bottom: 0.9rem;
      scroll-behavior: smooth;
      scrollbar-gutter: both-edges;
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: white transparent;
      overscroll-behavior: contain;

      @media (width <= 1111px) and (orientation: landscape) {
        max-height: 150px;
      }

      .fila {
        display: flex;
        column-gap: 0.2rem;
        padding: 0.5rem;

        input {
          accent-color: lime;
        }
      }

      label {
        color: white;
        font-size: 0.8rem;
        background-color: transparent;
        width: 100%;
        align-content: center;
      }

      abbr {
        font-size: 0.8rem;
      }
    }

    &::backdrop {
      background-image: linear-gradient(to top, #2228 20%, #4448 40%);
    }

    input[type='checkbox'] {
      margin-right: 0.5rem;
    }

    .container-add-playlist {
      --validate-color: #00ff7f;
      --invalid-color: #f00f;
      position: relative;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 12px 18px;
      border-top: 2px solid #fff2;
      transition:
        background-color 0.3s ease,
        padding 0.3s linear;
      z-index: 1000;

      &::after {
        content: '';
        display: block;
        position: absolute;
        opacity: 0;
        left: -50%;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 0.5s;
      }

      &.mode-active {
        h3 {
          pointer-events: none;
          opacity: 0;
          display: none;
        }

        .container-inputs {
          display: flex;
          opacity: 1;
        }
      }

      h3 {
        z-index: 99999;
        font-family: Arial, Helvetica, sans-serif;
        pointer-events: none;
        transform: translateY(5px);
        align-content: center;
        text-transform: capitalize;
        font-size: 0.9rem;
        opacity: 1;
        visibility: visible;
        transition: opacity 0.7s ease;

        &::before {
          content: '+';
          font-size: 24px;
          margin-right: 8px;
          vertical-align: -3px;
        }
      }

      .container-inputs {
        opacity: 0;
        display: none;
        z-index: 99999;
        width: 100%;
        position: relative;
        padding-bottom: 10px;
        transition:
          opacity 0.5s ease,
          display 0.5s ease allow-discrete;
      }

      span {
        position: absolute;
        left: 80%;
        font-size: 0.7rem;
        color: #fff8;
        position: relative;
        font-style: italic;
        top: 26px;
      }

      input {
        border: none;
        outline: none;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--validate-color);

        &[type='text'] {
          width: 88%;
          background-color: transparent;
          height: 20px;
          position: absolute;
          top: 0%;
          border-bottom: 2px solid #fff8;

          &::placeholder {
            color: #fff8;
          }

          &.valid {
            color: var(--validate-color);
            border-bottom: 2px solid var(--validate-color);
            caret-color: var(--validate-color);
          }

          &.invalid {
            color: var(--invalid-color);
            border-bottom: 2px solid var(--invalid-color);
            caret-color: var(--invalid-color);
          }
        }

        &[type='submit'] {
          width: 17%;
          background-color: transparent;
          aspect-ratio: 1;
          transform: scale(0.8);
          border-radius: 999px;
          box-shadow: inset 0 0 0 8px #0003;
          position: absolute;
          background-color: #0f08;
          right: -12px;
          top: -20%;
          display: flex;
          flex-wrap: wrap;
          place-content: center;
          line-height: 1rem;
          font-size: 1em;
          transition: box-shadow 0.4s ease;

          &:hover {
            box-shadow: inset 0 0 0 0 #0003;
          }
        }
      }
    }
  }

  .myHeader {
    display: block;
    height: 5rem;
    position: relative;
    z-index: 5;
    background-image: linear-gradient(
      45deg,
      var(--color1, #ee82ee),
      var(--color2, #87ceeb),
      var(--color3, #00ff7f)
    );
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    img {
      inline-size: fit-content;
      block-size: 2.5rem;
    }
  }

  .myNav {
    display: flex;
    width: 100%;
    height: 2rem;
    background-color: #222;
    flex-wrap: wrap;
    justify-content: center;
    top: -1px;
    align-items: center;
    position: sticky;
    z-index: 99999;
    box-shadow: 2px 2px 3px #2228;

    a,
    button {
      border: none;
      outline: none;
      min-height: 100%;
      margin-inline: 6px;
      background-color: transparent;
      align-content: center;
      padding: 0.2rem;

      @media (width >= 1000px) {
        &:hover,
        &.nav-btn-active {
          svg {
            fill: #fff;
          }
        }
      }

      @media (width <= 999px) {
        &.nav-btn-active,
        &.home:hover,
        &.recarga:hover {
          svg {
            fill: #fff;
          }
        }
      }

      * {
        pointer-events: none;
      }

      svg {
        transition: 0s;
        display: flex;
        flex-wrap: wrap;
        place-content: center;
        align-content: center;
      }
    }

    a {
      -webkit-tap-highlight-color: transparent;
    }

    .nav-playbutton {
      svg {
        scale: 0.9;
      }
    }

    .nav-list-momentary {
      position: relative;

      .btn-tooltip {
        --duration: 7s;
        --easing: linear;
        --c-color-1: rgba(26, 163, 255, 0.7);
        /* Changed color */
        --c-color-2: #1aff1a;
        /* Changed color */
        --c-color-3: #ff1a75;
        /* Changed color */
        --c-color-4: rgba(26, 232, 255, 0.7);
        /* Changed color */
        --c-shadow: rgba(87, 223, 255, 0.5);
        /* Changed color */
        --c-shadow-inset-top: rgba(52, 223, 255, 0.9);
        /* Changed color */
        --c-shadow-inset-bottom: rgba(215, 250, 255, 0.8);
        /* Changed color */
        --c-radial-inner: #15d2ff;
        /* Changed color */
        --c-radial-outer: #72faff;
        /* Changed color */
        --c-color: #fff;
        appearance: none;
        outline: none;
        -webkit-tap-highlight-color: transparent;
        position: absolute;
        cursor: pointer;
        border: none;
        display: flex;
        border-radius: 24px;
        padding: 0;
        margin: 0;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        color: var(--c-color);
        background: radial-gradient(
          circle,
          var(--c-radial-inner),
          var(--c-radial-outer) 80%
        );
        transform: scale(0);
        z-index: 200;
        box-shadow: 0 0 14px var(--c-shadow);
        pointer-events: auto;
        top: 150%;
        right: -36px;
        min-width: 250px;
        transition: transform 0.3s ease-in-out;

        &.tooltip-active {
          transform: scale(0.8);
        }

        svg {
          width: 25px;
          height: 40px;
          zoom: 0.4;
          align-content: center;
          pointer-events: none;
          position: relative;
          transform: translateY(10px);
          z-index: 50;
        }

        .triangle {
          width: 40px;
          height: 20px;
          background-color: #6ef7ff;
          position: absolute;
          right: 10px;
          top: -12px;
          z-index: -1;
          clip-path: polygon(0% 100%, 50% 0, 100% 100%);
        }
      }

      .btn-tooltip:before {
        content: '';
        pointer-events: none;
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 24px;
        box-shadow:
          inset 0 3px 12px var(--c-shadow-inset-top),
          inset 0 -3px 4px var(--c-shadow-inset-bottom);
      }

      .btn-tooltip .wrapper {
        mask-image: radial-gradient(white, black);
        overflow: hidden;
        border-radius: 24px;
        padding: 8px 0;
        display: flex;
        text-align: center;
        justify-content: center;
        align-content: center;
        width: 100%;
      }

      .btn-tooltip .wrapper span {
        display: inline-block;
        position: relative;
        z-index: 200;
      }

      .btn-tooltip .wrapper .circle {
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        filter: blur(var(--blur, 8px));
        background: var(--background, transparent);
        transform: translate(var(--x, 0), var(--y, 0)) translateZ(0);
        animation: var(--animation, none) var(--duration) alternate var(--easing)
          infinite;
      }

      .btn-tooltip .wrapper .circle.circle-1,
      .btn-tooltip .wrapper .circle.circle-9,
      .btn-tooltip .wrapper .circle.circle-10 {
        --background: var(--c-color-4);
      }

      .btn-tooltip .wrapper .circle.circle-3,
      .btn-tooltip .wrapper .circle.circle-4 {
        --background: var(--c-color-2);
        --blur: 14px;
      }

      .btn-tooltip .wrapper .circle.circle-5,
      .btn-tooltip .wrapper .circle.circle-6 {
        --background: var(--c-color-3);
        --blur: 16px;
      }

      .btn-tooltip .wrapper .circle.circle-2,
      .btn-tooltip .wrapper .circle.circle-7,
      .btn-tooltip .wrapper .circle.circle-8,
      .btn-tooltip .wrapper .circle.circle-11,
      .btn-tooltip .wrapper .circle.circle-12 {
        --background: var(--c-color-1);
        --blur: 12px;
      }

      .btn-tooltip .wrapper .circle.circle-1 {
        --x: 50px;
        --y: -40px;
        --animation: circle-1;
      }

      .btn-tooltip .wrapper .circle.circle-2 {
        --x: 180px;
        --y: 8px;
        --animation: circle-2;
      }

      .btn-tooltip .wrapper .circle.circle-3 {
        --x: 200px;
        --y: -12px;
        --animation: circle-3;
      }

      .btn-tooltip .wrapper .circle.circle-4 {
        --x: 80px;
        --y: -12px;
        --animation: circle-4;
      }

      .btn-tooltip .wrapper .circle.circle-5 {
        --x: 12px;
        --y: -4px;
        --animation: circle-5;
      }

      .btn-tooltip .wrapper .circle.circle-6 {
        --x: 120px;
        --y: 16px;
        --animation: circle-6;
      }

      .btn-tooltip .wrapper .circle.circle-7 {
        --x: 180px;
        --y: 28px;
        --animation: circle-7;
      }

      .btn-tooltip .wrapper .circle.circle-8 {
        --x: 200px;
        --y: -4px;
        --animation: circle-8;
      }

      .btn-tooltip .wrapper .circle.circle-9 {
        --x: 100px;
        --y: -12px;
        --animation: circle-9;
      }

      .btn-tooltip .wrapper .circle.circle-10 {
        --x: 150px;
        --y: 16px;
        --animation: circle-10;
      }

      .btn-tooltip .wrapper .circle.circle-11 {
        --x: 200px;
        --y: 4px;
        --animation: circle-11;
      }

      .btn-tooltip .wrapper .circle.circle-12 {
        --blur: 190px;
        --x: 52px;
        --y: 4px;
        --animation: circle-12;
      }
    }

    svg {
      fill: #999;
      width: 18px;
      height: 18px;
      transition: 0.3s;
    }

    .nav-arrow-down {
      display: none;
    }

    @media (width <=1080px) {
      .nav-arrow-down {
        display: block;
      }
    }
  }

  .background-container {
    position: fixed;
    inset: 0;
    z-index: -1;

    .star-1 {
      width: var(--size);
      height: var(--size);
      background-color: #fff;
      border-radius: 50%;
      box-shadow: var(--shadow-layer);
      position: absolute;
      z-index: -1;
      animation: risingStars var(--duration) linear infinite;
    }
  }

  @keyframes moveLuz {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }

  main {
    width: 100%;
    max-width: 1600px;
    position: relative;
    padding: 1rem;
    display: grid;
    height: max-content;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, auto);
    align-content: start;
    gap: 1rem;

    .card {
      height: 150px;
      min-height: max-content;
      height: auto;
      display: flex;
      border-radius: 16px;
      color: var(--color3, #00ff7f);
      animation: boxShadowMove 5s ease alternate infinite;

      .img {
        width: 90%;
        height: 90%;
        border-radius: 16px;
        background-position: center;
        background-size: cover;
        aspect-ratio: 1;
        position: relative;
        overflow: hidden;
        box-shadow:
          0 0 10px 0 #0005,
          inset 0 0 20px 5px #0003;

        .input-range {
          width: 100%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%) scale(0.7);
          bottom: 3px;
          accent-color: chartreuse;
          display: none;
        }

        &:hover {
          &::after {
            animation: moveLuz 0.5s linear forwards;
          }
        }

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: -100%;
          top: 0;
          background: linear-gradient(90deg, transparent, #fff2, transparent);
        }
      }

      .card-left {
        width: 55%;
        display: flex;
        flex-wrap: wrap;
        place-content: center;
      }

      .card-right {
        width: 45%;
        overflow: hidden;
        border-radius: 1rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        display: flex;
        flex-direction: column;

        .card-right-top {
          font-size: clamp(0.625rem, 0.5813rem + 0.2188vw, 0.74rem);
          height: 50%;
          margin-top: 0.7rem;
          margin-inline: auto;
          max-width: 80%;
          text-align: center;
          text-wrap: balance;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          overflow-wrap: anywhere;

          @media (width <= 1400px) {
            font-size: clamp(0.625rem, 0.5813rem + 0.2188vw, 0.64rem);
          }
        }

        .card-right-down {
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: end;
          margin-bottom: 0.7rem;

          .card-right-buttons {
            display: grid;
            margin-inline: auto;
            grid-template-columns: repeat(3, auto);
            justify-content: center;
            gap: 0.7rem;

            button {
              background-color: black;
              width: 1.4rem;
              height: 1.4rem;
              border-radius: 50%;
              align-content: center;
              outline: none;
              border: none;
              transition: background-color 0.2s linear;
              pointer-events: auto;

              * {
                pointer-events: none !important;
              }

              &.card-btn-active {
                background-color: #fff;

                svg {
                  filter: invert(1);
                }
              }

              &.blocked {
                pointer-events: none;
              }

              svg {
                all: initial;
                display: block;
                margin-inline: auto;
                fill: #fff;
                width: 0.8rem;
                height: 0.8rem;
                transition: 0.2s linear filter;
              }
            }

            @media (hover: hover) {
              button {
                &:hover,
                &.card-btn-active {
                  background-color: #fff;

                  svg {
                    filter: invert(1);
                  }
                }
              }
            }

            .card-playbutton,
            .card-downloadbutton {
              svg {
                scale: 0.8;
              }
            }

            .card-downloadbutton {
              pointer-events: none;
              -webkit-tap-highlight-color: transparent;

              a {
                display: block;
                width: 100%;
                height: 100%;
                background-color: transparent;
                pointer-events: auto !important;
                border-radius: inherit;
                align-content: center;
              }
            }

            .card-downloadbutton,
            .card-playlistbutton {
              &.card-btn-active,
              &:hover {
                background-color: #fff;

                svg {
                  filter: invert(1);
                }
              }
            }

            .card-playlistbutton {
              pointer-events: auto !important;
            }

            .playlistbutton {
              svg {
                scale: 1.2;
              }
            }
          }
        }
      }
    }

    .card:nth-child(even) {
      color: var(--color1, #ee82ee);
      animation: boxShadowMove 5s ease alternate-reverse infinite;

      .img {
        background-image: var(--image-1);
      }
    }

    .card:nth-child(odd) .img {
      background-image: var(--image-2);
    }

    .card.targeado:target {
      color: #fff !important;
      scroll-margin-top: 3rem;
    }
  }

  /******************** CARD FILTERS ********************/
  #song-1 .card-left .img {
    filter: hue-rotate(0deg);
  }
  #song-2 .card-left .img {
    filter: hue-rotate(18deg);
  }
  #song-3 .card-left .img {
    filter: hue-rotate(36deg);
  }
  #song-4 .card-left .img {
    filter: hue-rotate(54deg);
  }
  #song-5 .card-left .img {
    filter: hue-rotate(72deg);
  }
  #song-6 .card-left .img {
    filter: hue-rotate(90deg);
  }
  #song-7 .card-left .img {
    filter: hue-rotate(108deg);
  }
  #song-8 .card-left .img {
    filter: hue-rotate(126deg);
  }
  #song-9 .card-left .img {
    filter: hue-rotate(144deg);
  }
  #song-10 .card-left .img {
    filter: hue-rotate(162deg);
  }
  #song-11 .card-left .img {
    filter: hue-rotate(180deg);
  }
  #song-12 .card-left .img {
    filter: hue-rotate(198deg);
  }
  #song-13 .card-left .img {
    filter: hue-rotate(216deg);
  }
  #song-14 .card-left .img {
    filter: hue-rotate(234deg);
  }
  #song-15 .card-left .img {
    filter: hue-rotate(252deg);
  }
  #song-16 .card-left .img {
    filter: hue-rotate(270deg);
  }
  #song-17 .card-left .img {
    filter: hue-rotate(288deg);
  }
  #song-18 .card-left .img {
    filter: hue-rotate(306deg);
  }
  #song-19 .card-left .img {
    filter: hue-rotate(324deg);
  }
  #song-20 .card-left .img {
    filter: hue-rotate(342deg);
  }

  /******************** ANIMATIONS ********************/

  @keyframes boxShadowMove {
    0% {
      box-shadow: 0 0 10px currentColor inset;
    }

    100% {
      box-shadow: 0 0 300px currentColor inset;
    }
  }

  @keyframes recorrer {
    0% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(-90%, 0);
    }

    100% {
      transform: translate(15%, 0);
    }
  }

  @keyframes risingStars {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-100vh);
    }
  }

  @keyframes change {
    from {
      scale: 0;
      opacity: 0;
      translate: 50px;
    }

    to {
      scale: 1;
      opacity: 1;
      translate: 0;
    }
  }

  /******************** MEDIAQUERIES ********************/

  @media (width <= 546px) {
    main {
      .card {
        transition:
          transform 0.3s ease,
          scale 0.3s ease;

        .card-right {
          .card-right-top {
            font-size: clamp(0.75rem, 0.6538rem + 0.44vw, 1.0938rem);
          }

          .card-right-down {
            .card-right-buttons {
              .card-infinitybutton {
                &:hover {
                  background-color: black;

                  svg {
                    filter: invert(0);
                  }
                }

                &.card-btn-active {
                  background-color: #fff;

                  svg {
                    filter: invert(1);
                  }
                }
              }
            }
          }
        }
      }

      .card:nth-child(even) {
        animation:
          boxShadowMove 5s ease alternate infinite,
          change auto linear forwards;
        animation-timeline: auto, view();
        animation-composition: add;
        animation-range: cover -50% cover 5%;
      }

      .card:nth-child(odd) {
        animation:
          boxShadowMove 5s ease alternate-reverse infinite,
          change auto linear forwards;
        animation-timeline: auto, view();
        animation-composition: add;
        animation-range: cover -50% cover 5%;
      }

      .card:nth-child(even).stopped-animation {
        animation: boxShadowMove 5s ease alternate infinite;
      }

      .card:nth-child(odd).stopped-animation {
        animation: boxShadowMove 5s ease alternate-reverse infinite;
      }

      .card:nth-child(4n + 1) {
        color: var(--color1, #ee82ee);
        .img {
          background-image: var(--image-1);
        }
      }
      .card:nth-child(4n + 2) {
        color: var(--color2, #00ff7f);
        .img {
          background-image: var(--image-2);
        }
      }
      .card:nth-child(4n + 3) {
        color: var(--color3, #0099ff);
        .img {
          background-image: var(--image-3);
        }
      }
      .card:nth-child(4n + 4) {
        color: var(--color4, #ff0000);

        .img {
          background-image: var(--image-4);
        }
      }
    }
  }

  /* 2 columnas */
  @media (548px <= width < 824px) {
    main {
      .card:nth-child(2),
      .card:nth-child(3),
      .card:nth-child(6),
      .card:nth-child(7),
      .card:nth-child(10),
      .card:nth-child(11),
      .card:nth-child(14),
      .card:nth-child(15),
      .card:nth-child(18),
      .card:nth-child(19) {
        color: var(--color1, #ee82ee);
        animation: boxShadowMove 5s ease alternate infinite;
      }

      .card:nth-child(1),
      .card:nth-child(4),
      .card:nth-child(5),
      .card:nth-child(8),
      .card:nth-child(9),
      .card:nth-child(12),
      .card:nth-child(13),
      .card:nth-child(16),
      .card:nth-child(17),
      .card:nth-child(20) {
        color: var(--color3, #00ff7f);
        animation: boxShadowMove 5s ease alternate-reverse infinite;
      }

      .card:nth-child(4n + 1) {
        .img {
          background-image: var(--image-1);
        }
      }
      .card:nth-child(4n + 2) {
        .img {
          background-image: var(--image-2);
        }
      }
      .card:nth-child(4n + 3) {
        .img {
          background-image: var(--image-3);
        }
      }
      .card:nth-child(4n + 4) {
        .img {
          background-image: var(--image-4);
        }
      }
    }
  }

  /* 4 columnas  */
  @media (1080px <= width < 1346px) {
    main {
      .card:nth-child(2),
      .card:nth-child(4),
      .card:nth-child(5),
      .card:nth-child(7),
      .card:nth-child(10),
      .card:nth-child(12),
      .card:nth-child(13),
      .card:nth-child(15),
      .card:nth-child(18),
      .card:nth-child(20) {
        color: var(--color1, #ee82ee);
        animation: boxShadowMove 5s ease alternate infinite;

        .img {
          background-image: var(--image-1);
        }
      }

      .card:nth-child(1),
      .card:nth-child(3),
      .card:nth-child(6),
      .card:nth-child(8),
      .card:nth-child(9),
      .card:nth-child(11),
      .card:nth-child(14),
      .card:nth-child(16),
      .card:nth-child(17),
      .card:nth-child(19) {
        color: var(--color3, #00ff7f);
        animation: boxShadowMove 5s ease alternate-reverse infinite;

        .img {
          background-image: var(--image-2);
        }
      }
    }
  }

  /* ===========================VIEW TRANSITIONS========================= */
  html {
    view-transition-name: transitionPage;
  }

  @view-transition {
    navigation: auto;
  }

  ::view-transition-new(transitionPage) {
    animation: fadeIn 1s ease forwards;
  }
  ::view-transition-old(transitionPage) {
    animation: fadeIn 1s ease reverse forwards;
  }

  @keyframes fadeIn {
    0% {
      clip-path: circle(0% at 50% 50%);
    }
    100% {
      clip-path: circle(100% at 50% 50%);
    }
  }

  /* ===========================TOOLTIP========================= */
  @keyframes circle-1 {
    33% {
      transform: translate(0px, 16px) translateZ(0);
    }

    66% {
      transform: translate(12px, 64px) translateZ(0);
    }
  }

  @keyframes circle-2 {
    33% {
      transform: translate(80px, -10px) translateZ(0);
    }

    66% {
      transform: translate(72px, -48px) translateZ(0);
    }
  }

  @keyframes circle-3 {
    33% {
      transform: translate(20px, 12px) translateZ(0);
    }

    66% {
      transform: translate(12px, 4px) translateZ(0);
    }
  }

  @keyframes circle-4 {
    33% {
      transform: translate(76px, -12px) translateZ(0);
    }

    66% {
      transform: translate(112px, -8px) translateZ(0);
    }
  }

  @keyframes circle-5 {
    33% {
      transform: translate(84px, 28px) translateZ(0);
    }

    66% {
      transform: translate(40px, -32px) translateZ(0);
    }
  }

  @keyframes circle-6 {
    33% {
      transform: translate(28px, -16px) translateZ(0);
    }

    66% {
      transform: translate(76px, -56px) translateZ(0);
    }
  }

  @keyframes circle-7 {
    33% {
      transform: translate(8px, 28px) translateZ(0);
    }

    66% {
      transform: translate(20px, -60px) translateZ(0);
    }
  }

  @keyframes circle-8 {
    33% {
      transform: translate(32px, -4px) translateZ(0);
    }

    66% {
      transform: translate(56px, -20px) translateZ(0);
    }
  }

  @keyframes circle-9 {
    33% {
      transform: translate(20px, -12px) translateZ(0);
    }

    66% {
      transform: translate(80px, -8px) translateZ(0);
    }
  }

  @keyframes circle-10 {
    33% {
      transform: translate(68px, 20px) translateZ(0);
    }

    66% {
      transform: translate(100px, 28px) translateZ(0);
    }
  }

  @keyframes circle-11 {
    33% {
      transform: translate(4px, 4px) translateZ(0);
    }

    66% {
      transform: translate(68px, 20px) translateZ(0);
    }
  }

  @keyframes circle-12 {
    33% {
      transform: translate(56px, 0px) translateZ(0);
    }

    66% {
      transform: translate(60px, -32px) translateZ(0);
    }
  }
</style>
